@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Montserrat, sans-serif'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, -apple-system, BlinkMacSystemFont, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
}

::-webkit-scrollbar {
  display: none;
}
.header-logo{
  font-family: "UnifrakturCook";
  font-size: 2.4rem;
  background-image: conic-gradient(from 180deg at 50% 50%,#fc0148 0deg,#ba7d01 183.75deg,#0198ba 1turn,#0198ba 1turn);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.year-box {
  padding: 5px;
  margin: 5px 5px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #252a41;
  background-color: rgba(37,42,65,.3137254902);
  border-radius: 40px;
  font-size: 12px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-background {
  position: relative;
  background: rgba(2, 2, 11, 0.5);
}


.popup-background1 {
  position: relative;
  background: rgba(58, 28, 28, 0.3);
  z-index: 5000;
}
.swiper-container {
  width: 480px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.btnChec {
  border: 2px solid transparent;
  background-color: red;
  color: #fff;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 7px 8px rgb(255 0 0 / 30%);
  z-index: 1000;
  transition: box-shadow .3s ease;
  position: relative;
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination-bullet{
  display:none;   
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.swiper-scrollbar-drag {
  display: none;
}
